{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block title %}Riot Games{% endblock %}

{% block body %}{% endblock %}

{% block header %}
	<nav class="nav">
		<a class="link_league" href={{ path('app_profil')}}>League of Legends</a>
		<a class="link_valorant" href={{ path('app_profil')}}>Valorant</a>
	</nav>
	<div class="logo">
		<a class="link_logo" href={{ path('app_home')}}></a>
	</div>
{% endblock %}

{% block main %}
	{# affiche bienvenue joueur et donne un nombre au joueur #}
	{% if number <= 100 %}
		{% set bienvenue = "bienvenue le goat" %}
		<h1 class="text">{{bienvenue}}</h1>
{% elseif number == 666 %}
			<h1 class="welcome1">{{bienvenue}}
				<span class="number1">#{{number}}</span>
			</h1>

	{% else %}
		<h1 class="welcome">{{bienvenue}}
			<span class="number">#{{number}}</span>
		</h1>
		
		{% endif %}
		<section class="first_section"></section>
		<section class="second_section">
			<h2 class="second_h2">actualité
				{{slash}}</h2>
			<div class="categories">
				<div class="patch">
					<a href="https://playvalorant.com/fr-fr/news/game-updates/valorant-patch-notes-4-07/" target="_blank">
						<h3 class="second_h3">valorant
							<br/><span class="valorant-patch">patch 4.07</span>
						</h3>
					</a>
				</div>

				<div class="teamfight">
					<a href="https://dotesports.com/tft/news/riot-releases-tft-set-6-5-worlds-dates-lcq-increases-slots" target="_blank">
						<h3 class="tft_h3">teamfught tactics
							<br/><span class="world">world cup</span>
						</h3>
					</a>
				</div>

				<div class="league">
					<a href="https://www.team-aaa.com/fr/breve/evenement-section-anima-2022-sur-league-of-legends_124741" target="_blank">
						<h3 class="league_h3">skin anima
							<br/><span class="disponible">patch 12.6</span>
						</h3>
					</a>
				</div>

				<div class="arcana">
					<a href="https://www.leagueoflegends.com/fr-fr/news/game-updates/patch-12-7-notes/" target="_blank">
						<h3 class="league_h3">skin arcana
							<br/><span class="disponible2">patch 12.7</span>
						</h3>
					</a>
				</div>

				<div class="msi">
					<a href="https://lolesports.com/article/msi-2022-is-heading-to-south-korea-/blt943672b46e1c1f59" target="_blank">
						<h3 class="league_h3">msi 2022</h3>
					</a>
				</div>

				<div class="primegaming">
					<a href="https://gaming.amazon.com/loot/lol10" target="_blank">
						<h3 class="prime_h3">prime gaming</h3>
					</a>
				</div>

			</div>
		</section>

		<section class="play_section">
			<h2 class="play_h2">jeux riot games
				{{slash}}</h2>
			<div class="legends">
				<iframe class="youtube" width="650" height="350" src="https://www.youtube.com/embed/Brb8o05NXQU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<a class="button-play" href="https://www.leagueoflegends.com/fr-fr/" target="_blank">Jouez gratuitement</a>
			</div>

			<div class="valorant">
				<iframe class="youtube" width="650" height="350" src="https://www.youtube.com/embed/sSYi3tGt870" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<a class="button-play2" href="https://playvalorant.com/" target="_blank">Jouez gratuitement</a>
			</div>

			<div class="runeterra">
				<iframe class="youtube" width="650" height="350" src="https://www.youtube.com/embed/BkPpgMwPss0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<a class="button-play3" href="https://playruneterra.com/fr-fr/" target="_blank">Jouez gratuitement</a>
			</div>

			<div class="tactics">
				<iframe class="youtube" width="690" height="390" src="https://www.youtube.com/embed/EKwK_ilX754" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<a class="button-play4" href="https://teamfighttactics.leagueoflegends.com/fr-fr/" target="_blank">Jouez gratuitement</a>
			</div>
		</section>
{% endblock %}
